body {
  transition: 0.5s;
}  


.App {

  width: 100%;
  
}


.quote-machine {
  width: 100%;
  max-width: 640px;
  margin: 50px  auto;
  background-color: azure;
  padding: 40px 50px;
  overflow: hidden;
  /* overflow-wrap: break-word; */
}

.quote-machine .quote-text {
  text-align: center;
}

.quote-machine .quote-author {
  display: flex;
  justify-content: flex-end;
}

.quote-machine .btn-quote {
  margin-top: 35px;
  float: right;
  border: none;
  background-color: #16a085;
  padding: 10px;
  color: azure;
  cursor: pointer;
}